* {
    box-sizing: border-box;
}

.row {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    padding: 0px;
    margin: 0px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 0px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.topnav {
    position: relative;
    background-color: white;
    padding-right: 2%
}

.topnav a {
    float: left;
    color: rgb(15, 15, 99);
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav-right a:hover {
    background-color: rgb(243, 240, 240);
    color: black;
    font-weight: bold;
}

.topnav-centered a {
    margin-top: 35px;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
}

.topnav-centered a:hover {
    color: rgb(15, 15, 99);
    font-weight: normal;
}

.topnav-right {
    float: right;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

#arrow {
        position: relative;
        animation: updown 3s infinite;
        margin: auto;
}

.center-col {
    font-size: 3vw;
    text-align: center;
    font-family: 'Courgette', cursive;
}

@media screen and (min-width: 500px) {
    #arrow {
        width: 25px;
        height: 25px;
    }
    @keyframes updown {
        from {top: 0px;}
        to {top: 10px;}
    }
}

@media screen and (min-width: 718px) {
    #arrow {
        width: 50px;
        height: 50px;
    }
    @keyframes updown {
        from {top: 0px;}
        to {top: 35px;}
    }
}