* {
    box-sizing: border-box;
}

.row {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    padding: 0px;
    margin: 0px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 0px;
}

.column2 {
    float: left;
    width: 30%;
    padding: 0px;
}

.column3 {
    float: left;
    width: 70%;
    padding: 0px;
}

.column2 img {
    width: 150px;
    height: 200px;
    margin-left: 45%;
}

.row2 {
    border-top: 2px solid gray;
    padding-top: 10px;
    margin-bottom: 10px;
}

/* Clear floats after the columns */
.row:after,
.row2:after {
    content: "";
    display: table;
    clear: both;
}

.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    padding-top: 0;
    z-index: 10;
    height: 80px;
}

.topnav a {
    float: left;
    color: rgb(15, 15, 99);
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav-right a:hover {
    background-color: rgb(243, 240, 240);
    color: black;
    font-weight: bold;
}

.topnav-centered a {
    position: absolute;
    text-align: center;
    justify-content: center;
    right: 45%;
    font-size: 2vw;
}

.topnav-centered a:hover {
    color: rgb(15, 15, 99);
    font-weight: normal;
}

.topnav-right {
    float: right;
    transform: translate(-10%, 10%);
}

img {
    display: block;
    width: 100%;
    height: auto;
}

#arrow {
    position: relative;
    animation: updown 3s infinite;
    margin: auto;
}

.center-col {
    font-size: 3vw;
    text-align: center;
    font-family: 'Courgette', cursive;
}

@media screen and (min-width: 500px) {
    #arrow {
        width: 25px;
        height: 25px;
    }

    @keyframes updown {
        from {
            top: 0px;
        }

        to {
            top: 10px;
        }
    }
}

@media screen and (min-width: 718px) {
    #arrow {
        width: 50px;
        height: 50px;
    }

    @keyframes updown {
        from {
            top: 0px;
        }

        to {
            top: 35px;
        }
    }
}

.search_bar input[type=text] {
    border: 2px solid black;
    border-right: none;
    border-radius: 15px 0px 0px 15px;
    height: 40px;
    outline: none;
    background-color: white;
    width: 70%;
    padding-left: 10px;
    font-size: 16px;
    margin-left: 12.5%;
}

.restaurant_input {
    border: 2px solid black;
    border-radius: 15px;
    height: 40px;
    width: 33.33%;
    outline: none;
    background-color: white;
    padding-left: 10px;
    font-size: 16px;
    margin-left: 12.5%;
}

.search_bar button {
    position: absolute;
    border-radius: 0px 15px 15px 0px;
    background-image: linear-gradient(to right, #7474BF 0%, #348AC7 51%, #7474BF 100%);
    color: white;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 5%;
    border: 2px solid black;
    border-left: none;
}

.collapsible {
    background-color: white;
    color: rgb(15, 15, 99);
    font-weight: bold;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

.food-header {
    background-color: white;
    color: rgb(15, 15, 99);
    font-weight: bold;
    font-size: 25px;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

.active,
.collapsible:hover {
    background-color: white;
}

.content {
    /* padding: top right bottom left */
    padding: 20px 0px 20px 0px;
    display: none;
    overflow: hidden;
}

.food-content {
    /* padding: top right bottom left */
    padding: 20px 0px 20px 0px;
    overflow: hidden;
}

.section {
    border: 6px solid rgb(209, 128, 128);
    background-color: rgb(243, 240, 240);
    max-width: 33.33%;
}

#buyfood,
#restaurant-info,
#makefood {
    border: 6px solid rgb(209, 128, 128);
    background-color: rgb(243, 240, 240);
}

.hide {
    display: none;
}

p {
    font-size: 18px;
    color: darkblue;
    margin: 0px 0px 0px 12.5%;
}

.genre-checkbox,
.go {
    margin-left: 12.5%;
}

#genre-submit,
#restaurant-submit,
#recipe-submit {
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 36px;
    cursor: pointer;
}

.description {
    color: black;
    font-size: 16px;
}

.error {
    color: red;
    background-color: yellow;
    font-weight: bold;
    margin: auto;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(190, 126, 126);
    color: white;
    text-align: center;
    margin: 0;
    padding: 2px;
}

.footer img {
    width: 60px;
    height: 60px;
    margin: auto;
}
