<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pulse+</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class="topnav">
        <div class="topnav-centered">
            <a href="#top_homepg"><strong>Pulse+</strong></a>
        </div>
        <div class="topnav-right">
            <a href="#movies">Movies</a>
            <a href="#food">Food</a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <a id="top_homepg"></a>
    <div class="row">
        <div class="column">
            <img src="static/movie.jpg" />
        </div>
        <div class="column">
            <br>
            <br>
            <br>
            <p class="center-col">A Relaxing Evening <br> to Remember</p>
            <div id="arrow" class="center-col"><img src="static/arrow.png" /></div>
        </div>
        <div class="column">
            <img src="static/dinner.jpg" />
        </div>
    </div>
    <a id="movies"></a>
    <h1> Browse Movies </h1>
    <p class="error">{{ error_title }}</p>
    <div class="section">
        <button type="button" class="collapsible">Title
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(15, 15, 99)"
                class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path
                    d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(15,15,99)"
                class="bi bi-caret-up-fill hide" viewBox="0 0 16 16">
                <path
                    d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
            </svg>
        </button>
        <div class="content">
            <p>Enter word(s) to get movie titles and synopses. </p>
            <br>
            <form action="/find_title" method="post" class="search_bar">
                <input type="text" name="search" placeholder="Search titles, keywords ...">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <br>
    <p class="error">{{ error_genre }}</p>
    <div class="section">
        <button type="button" class="collapsible">Genre
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(15, 15, 99)"
                class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path
                    d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(15,15,99)"
                class="bi bi-caret-up-fill hide" viewBox="0 0 16 16">
                <path
                    d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
            </svg>
        </button>
        <div class="content">
            <p>Check at least 1 of the checkboxes</p>
            <br>
            <form action="/get_movies" method="post" class="genre-checkbox">
                <input type="checkbox" id="genre1" name="genre" value="28">
                <label for="genre1"> Action </label><br>
                <input type="checkbox" id="genre2" name="genre" value="12">
                <label for="genre2"> Adventure </label><br>
                <input type="checkbox" id="genre3" name="genre" value="16">
                <label for="genre3"> Animation </label><br>
                <input type="checkbox" id="genre4" name="genre" value="35">
                <label for="genre4"> Comedy </label><br>
                <input type="checkbox" id="genre5" name="genre" value="80">
                <label for="genre5"> Crime </label><br>
                <input type="checkbox" id="genre6" name="genre" value="99">
                <label for="genre6"> Documentary </label><br>
                <input type="checkbox" id="genre7" name="genre" value="18">
                <label for="genre7"> Drama </label><br>
                <input type="checkbox" id="genre8" name="genre" value="10751">
                <label for="genre8"> Family </label><br>
                <input type="checkbox" id="genre9" name="genre" value="14">
                <label for="genre9"> Fantasy </label><br>
                <input type="checkbox" id="genre10" name="genre" value="36">
                <label for="genre10"> History </label><br>
                <input type="checkbox" id="genre11" name="genre" value="27">
                <label for="genre11"> Horror </label><br>
                <input type="checkbox" id="genre12" name="genre" value="10402">
                <label for="genre12"> Music </label><br>
                <input type="checkbox" id="genre13" name="genre" value="9648">
                <label for="genre13"> Mystery </label><br>
                <input type="checkbox" id="genre14" name="genre" value="10749">
                <label for="genre14"> Romance </label><br>
                <input type="checkbox" id="genre15" name="genre" value="878">
                <label for="genre15"> Science Fiction </label><br>
                <input type="checkbox" id="genre16" name="genre" value="10770">
                <label for="genre16"> TV Movie </label><br>
                <input type="checkbox" id="genre17" name="genre" value="53">
                <label for="genre17"> Thriller </label><br>
                <input type="checkbox" id="genre18" name="genre" value="10752">
                <label for="genre18"> War </label><br>
                <input type="checkbox" id="genre19" name="genre" value="37">
                <label for="genre19"> Western </label><br>
                <br>
                <input id="genre-submit" type="submit" value="Go">
            </form>
        </div>
    </div>
    <br>
    {% for item,link in movies %}
    <div class="row2">
        <div class="column2">
            {% if item.poster_path!=none %}
            <img src="https://image.tmdb.org/t/p/w500{{ item.poster_path }}">
            {% else %}
            <img src="static/blank_movie_poster.png">
            {% endif %}
        </div>
        <div class="column3">
            {% if "release_date" in item %}
            <p>{{ item.title }} ({{ item.release_date[:4] }})</p>
            {% else %}
            <p>{{ item.title }} ()</p>
            {% endif %}
            <br>
            <p class="description">{{ item.overview }}</p>
            <br>
            <p>Review:</p>
            {% if link[0][1] == "No Review" %}
            <p>No Review</p>
            {% else %}
            {% if "release_date" in item %}
            <p><a href="{{ link[0][1] }}">{{ item.title }} ({{ item.release_date[:4] }}) Review</a></p>
            {% else %}
            <p><a href="{{ link[0][1] }}">{{ item.title }} Review</a></p>
            {% endif %}
            {% endif %}
        </div>
    </div>
    {% endfor %}


    {{ links }}
    <a id="food"></a>
    <h1> Browse Foods</h1>
    <h3>Would you like to <button type="button" id="buy">Buy Food</button> or <button type="button" id="mf">Make
            Food</button>?</h3>
    <div id="buyfood" class="hide">
        <div class="food-header">Buy Food</div>
        <div class="food-content">
            <p>Enter word(s) to get restaurant info </p>
            <br>
            <form action="/find_restaurant" method="post">
                <input type="text" name="cuisine" class="restaurant_input"
                    placeholder="Search restaurants, keywords ...">
                <br>
                <br>
                <p>Enter zip code: must be a five digit number</p>
                <br>
                <input type="text" class="restaurant_input" name="zip" pattern="[0-9]{5}" required>
                <br>
                <br>
                <input id="restaurant-submit" class="go" type="submit" value="Go">
            </form>
        </div>
    </div>

    {% if restaurant_clicked=="yes" and error_restaurant|length == 0 %}
    <div id="restaurant-info" class="">
        <div class="food-header">Buy Food</div>
        <div class="food-content">
            {% if name|length > 0 %}
            <p>Restaurant Name: <strong><span class="description">{{name}}</span></strong></p>
            {% endif %}
            {% if cuisine|length > 0 %}
            <p>Cuisine: <span class="description">{{cuisine}}</span></p>
            {% endif %}
            {% if rating|length > 0 %}
            <p>Rating: <span class="description">{{rating}}</span></p>
            {% endif %}
            {% if review|length > 0 %}
            <p>Review: <span class="description">{{review}}</span></p>
            {% if link|length > 0 %}
            <p>View full review at <a href={{link}}>Yelp Website</a></p>
            {% endif %}
            {% endif %}
            {% if phone|length > 0 %}
            <p>Phone #: <span class="description">{{phone}}</span></p>
            {% endif %}
            {% if zipcode|length > 0 %}
            <p>Zipcode: <span class="description">{{zipcode}}</span></p>
            {% endif %}
        </div>
    </div>
    {% else %}
    <p class="error">{{error_restaurant}}</p>
    {% endif %}

    <div id="makefood" class="hide">
        <div class="food-header">Make Food</div>
        <div class="food-content">
            <p>Enter food name(s) to get recipes </p>
            <br>
            <form action="/find_food" method="post">
                <input type="text" name="food-name" class="restaurant_input" placeholder="Search recipes, keywords ...">
                <br>
                <br>
                <input id="recipe-submit" class="go" type="submit" value="Go">
            </form>
        </div>
    </div>

    {% if recipe and error_recipe|length == 0 %}
    <div class="row2">
        <div class="food-header">Make Food</div>
        <div class="column2">
            <img src="{{ recipe['image'] }}">
        </div>
        <div class="column2">
            <div class="food-content">
                <p>Food Name: <strong><span class="description">{{recipe['title']}}</span></strong></p>
                <p>View full recipe <a href={{r_img}}>here</a></p>           
            </div>
        </div>
    </div>
    {% else %}
    <p class="error">{{error_recipe}}</p>
    {% endif %}

    <br>
    <div class="footer">
        <p>All movie data and posters come from: TMDB</p>
        <img src="static/tmdb_pic.jpg" />
    </div>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                var content = this.nextElementSibling;  //div element whose class="content"
                //if content is already shown, hide content when button is clicked
                if (content.style.display === "block") {
                    content.style.display = "none";
                    this.parentElement.setAttribute("style", "max-width:33.33%;");
                    this.lastElementChild.classList.add("hide");
                    this.firstElementChild.classList.remove("hide");
                }

                //show content
                else {
                    content.style.display = "block";
                    this.parentElement.setAttribute("style", "max-width:100%;");
                    this.firstElementChild.classList.add("hide");
                    this.lastElementChild.classList.remove("hide");
                }
            });
        }

        document.getElementById("buy").addEventListener("click", function () {
            document.getElementById("buyfood").classList.remove("hide");
            document.getElementById("makefood").classList.add("hide");
        });

        document.getElementById("mf").addEventListener("click", function () {
            document.getElementById("buyfood").classList.add("hide");
            document.getElementById("makefood").classList.remove("hide");
            document.getElementById("restaurant-info").classList.add("hide");
        });
    </script>
</body>

</html>
